<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911798166822-7ufvk69d4fv3hes99b2que6u3sanpj6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911798166822-7ufvk69d4fv3hes99b2que6u3sanpj6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAKyO45soXq0S2VZzJI5Z0e9TjVwG-cKkU</string>
	<key>GCM_SENDER_ID</key>
	<string>911798166822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meets.app1</string>
	<key>PROJECT_ID</key>
	<string>meets-dd7fe</string>
	<key>STORAGE_BUCKET</key>
	<string>meets-dd7fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911798166822:ios:1ce042826bb0316cbc4de7</string>
	<key>DATABASE_URL</key>
	<string>https://meets-dd7fe.firebaseio.com</string>
</dict>
</plist>